*:after,
*,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --text-md: 1.5rem;
    --text-sm: 1rem;

    --primary: hsl(25, 97%, 53%);
    --neutral-100: hsl(217, 12%, 63%);
    --neutral-200: hsl(216, 12%, 54%);
    --neutral-200-20: hsla(216, 12%, 54%, 0.2);
    --neutral-300: hsl(213, 19%, 18%);
    --neutral-400: hsl(216, 12%, 8%);
}

body {
    font-family: "Overpass", sans-serif;
    position: relative;
    height: 100vh;
    max-width: 100vw;
    font-size: var(--text-sm);
    background: var(--neutral-400);
    display: grid;
    place-items: center;
    color: var(--neutral-100);
}

h1 {
    color: white;
    font-size: var(--text-md);
}


section {
    width: min(93%, 25.625rem);
    padding: 2rem;
    background: var(--neutral-300);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


section:first-of-type>div:first-of-type {
    width: 20%;
    aspect-ratio: 1/1;
    background: var(--neutral-200-20);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

section:first-of-type div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &>span {
        background: var(--neutral-200-20);
        width: 20%;
        display: grid;
        place-items: center;
        aspect-ratio: 1/1;
        border-radius: 50%;
        color: white;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--primary);
        }
    }

    &>span[data-selected="true"] {
        background: var(--neutral-200);
    }

}

section:last-of-type {
    display: none;
    align-items: center;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
    padding-block: 0.5rem;
}

button {
    cursor: pointer;
    width: 100%;
    padding-block: 1rem;
    background: var(--primary);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    transition: all 0.1s ease-in-out;

    &:hover {
        background: white;
        color: var(--primary);
    }
}

footer a {
    color: var(--primary);
    text-decoration: none;
}